/__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.desktop

db/
database/
parsers/

.DS_Store

.vscode/
cache/
logs/
dist/
env/

data/

node_modules
npm-debug.log
bower_components
package-lock.json


layouts/*
!layouts/main

handlers/parsers