<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyColApp</title>

    <link rel="icon" type="image/png" href="../../assets/img/Collection-512.png" />

    <link rel="stylesheet" href="../../assets/bootstrap.css">
    <link rel="stylesheet" href="../../assets/main.css">
</head>

<body>

    <div id="app"></div>


    <script>
        require('./src/index.js')
    </script>



</body>

</html>