<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../dist/css/main.css">
</head>

<body>


    <div id="app">
        <App />
    </div>

    <script src="../lib/vue.min.js"></script>
    <script src="../lib/vuex.min.js"></script>
    <script src="../lib/vue-router.min.js"></script>
    <script src="../lib/bootstrap-vue.min.js"></script>

    <script>
        const fs = require('fs')
        const {
            dirname,
            join
        } = require('path')

        window.basedir = dirname(__dirname)
        window.databasedir = join(basedir, 'database')


        class Database {
            constructor() {
                if (!fs.existsSync(databasedir)) {
                    fs.mkdirSync(databasedir)
                    this.write('config.json', {})
                }

                this.config = this.readConfig()
            }

            read(name, json = true) {
                try {
                    let text = fs.readFileSync(join(databasedir, name))
                    if (json) {
                        return JSON.parse(text)
                    }
                    return text
                } catch (e) {
                    console.error(e)
                    return null
                }
            }

            write(name, data, json = true) {
                try {

                    let text = json ? JSON.stringify(data, null, 4) : data

                    fs.writeFileSync(join(databasedir, name), text, "utf8")


                } catch (e) {
                    console.error(e)
                    return null
                }
            }

            readConfig() {
                return this.read('config.json')
            }

            dumpHistory(url) {
                let time = new Date().getTime()
                fs.appendFile(join(databasedir, 'history.txt'), `${time} - ${url}\n`, (err) => {
                    if (err) {
                        console.error(err)
                    }
                })
            }

            dumpTabs(tabs) {
                this.write('tabs.json', tabs)
            }
        }

        window.database = new Database()

        require('../dist/bundles/index.js')
    </script>


</body>

</html>