.header {
    background-color: #fff;
}

.header-navigator {
    height: 30px;
    display: flex;
    margin: 20px 0px 0px 15px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.navigator-buttons i {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    color: #83949b;
}

.navigator-buttons:first-child i:not(last-child) {
    padding-left: 0px;
    transition: 0.5s;
}

.navigator-buttons-right i:first-child {
    padding-left: 19px!important;
    padding-right: 0px!important;
}



i.refresh {
    padding-right: 0px;
    transform-origin: center;
    transform: rotate(0deg);
    transition: 0.5s;
}

.isloading {
    animation: loading linear;
    animation-duration: 1s ;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


i.home {
    padding-left: 7px!important;
}


i.active {
    color: #406a7f;
}


.window-buttons {
    padding: 5px;
}

.window-buttons > div {
    height: 12px;
    width: 12px;
    float: right;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.window-minimize {
    background-color: orange;
}

.window-close {
    background-color: red;
}

.navigator-address {
    flex: 1;
    display: flex;
    position: relative;
}

.navigator-address input {
    flex: 1;
    outline: none;
    width: 100%;
    height: 23px;
    margin-top: -2px;
    border-radius: 2px; 
    border: none;
    background-color: #eceff1;
    color: #406a7f;
    font-family: cursive;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
}


.navigator-address i {
    position: absolute;
    color: #406a7f;
    cursor: pointer;
}

.navigator-address i:first-child {
    left: 7px;
    top: 2px;

}


.navigator-address i:last-child {
    position: absolute;
    color: #406a7f;
    right: 7px;
    top: 2px;
}



