.active {
    color: #406a7f!important;
    border-bottom-color: #406a7f!important;
}


.menu-container {
    text-align: center;
}

.menu-row {
    margin-top: 10px;
    color: #83949b;
    width: 185px;
    min-height: 30px;
    margin-left: 6px;
    border-bottom: 1px solid #83949b;
    cursor: pointer;
}

.collections-container {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    border-right: 1px solid #cbcdce;
    overflow: auto;
}


.collection-container {
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 32px 40px 5px 40px;
}


.posters-container {
    height: 200px;
    position: absolute;
    transition: 1s;
    transition-timing-function: ease-out;
}

.poster-container {
    float: left;
    width: 145px;
}

.poster-container img {
    float: left;
    width: 140px;
    height: 190px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;

}

.collection-block-container {
    position: relative;
}

.scroll-left, .scroll-right {
    position: absolute;
    font-size: 35px;
    bottom: 77px;
    cursor: pointer;
}

.scroll-left {
    left: 5px;
}

.scroll-right {
    right: 5px;
}

.collection-head {
    font-family: serif;
    color: #406a7f;
    margin-top: 10px;
    margin-bottom: -18px;
    border-bottom: 1px solid #406a7f;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.collection-head:hover {
    color: #ad824d;
    border-bottom: 1px solid #ad824d;
}