.video-container {
    margin: 30px 5px 5px 25px;
    display: flex;
    flex-direction: column;
}

.video-body-container {
    display: flex;
    color: #406a7f;
}


.video-poster {
    height: 300px;
}

.video-poster img {
    height: 300px;
    cursor: pointer;
}

.video-info {
    flex: 1;
    padding-left: 10px;
    position: relative;
}

.video-json {
    flex: 1;
    margin-top: 10px;
}

.video-json textarea {
    width: 100%;
    height: 400px;
}

.video-info ul {
    margin-left: 25px;
    margin-top: 10px;
    list-style-type: none;
}

.video-episodes {
    margin-top: 10px;
}

.video-info li {
    cursor: pointer;
    float: left;
    padding-right: 10px;
}

.video-navigation {
    display: flex;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.video-navigation > div {
    flex: 1;
    cursor: pointer;
}


.video-navigation > div:hover {
    color: #406a7f!important;
    border-bottom-color: #406a7f!important;
}

.collection-form {
    position: absolute;
    bottom: 48px;
}


.collection-posters-container {
    display: inline-block;
    margin-top: 12px;
}


.video-navigation-arrows {
    position: absolute;
    top: 0;
    right: 0;
}


.forward, .backward {
    cursor: pointer;
}

.backward {
    transform: rotate(180deg);
}

